/* Hide scroll bar */
* {
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

/* home page */

.yellowCircle {
  width: 40px;
  height: 40px;
  background-color: #ffc815;
  border-radius: 50%;
  position: relative;
  display: inline-block;
  left: -10px;
  /* vertical-align: middle; */
}

.yellowCircle::before {
  content: "HELLO,";
  color: #292929;
  position: absolute;
  top: 10px;
  right: 5px; /* Adjust this value to position the text above the circle */
  left: 50%;
  transform: translateX(-50%);
}

.yellowCircle::after {
  content: "THERE";
  color: #292929;
  position: absolute;
  top: 10px;
  right: 5px; /* Adjust this value to position the text above the circle */
  /* left: 50%; */
  transform: translateX(180%);
}

.blueCircle::after {
  content: " ";
  width: 40px;
  height: 40px;
  background-color: #ffc815;
}

/* About me page */

/* who I AM text style */
.skew {
  transform: skew(-20deg);
  font-size: "Work Sans", sans-serif;
}

/* Resume page */

/* progress bar */

progress {
  height: 5px;
  width: 90%;
}
progress::-webkit-progress-bar {
  background-color: #e9ecef;
}
progress::-webkit-progress-value {
  background-color: #333333;
}
